@keyframes menu_underline {
  from {
    width: 0; }
  to {
    width: 100%; } }

.main_header_wrapper {
  z-index: 2; }
  .main_header_wrapper .top_menu_wrapper {
    background: #111111; }
  .main_header_wrapper .social_item {
    border-left: 2px solid #222222;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin: 0; }
    .main_header_wrapper .social_item a {
      color: #aaaaaa;
      transition: all 1s ease; }
      .main_header_wrapper .social_item a:link {
        text-decoration: none;
        color: #aaaaaa; }
      .main_header_wrapper .social_item a:visited {
        text-decoration: none;
        color: #aaaaaa; }
      .main_header_wrapper .social_item a:hover {
        color: #fff; }
    .main_header_wrapper .social_item:last-child {
      border-right: 2px solid #222222; }

.social_item_list {
  margin: 0; }

.header_phone_block {
  font-weight: 700;
  font-size: 14px;
  color: #aaaaaa; }

.menu_wrapper {
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

.header_logo_box {
  position: absolute;
  padding: 0;
  top: 0;
  z-index: 999;
  width: 245px;
  height: 120px;
  background: #d84949; }
  .header_logo_box img {
    margin: 17px 0 0 20px; }
  .header_logo_box .real_estate_name, .header_logo_box .real_estate {
    color: #fff; }
    .header_logo_box .real_estate_name:link, .header_logo_box .real_estate:link {
      text-decoration: none;
      color: #fff; }
    .header_logo_box .real_estate_name:visited, .header_logo_box .real_estate:visited {
      text-decoration: none;
      color: #fff; }
  .header_logo_box span {
    font-weight: 300; }
  .header_logo_box h1 {
    color: #fff;
    margin: -7px 0 0 21px; }
  .header_logo_box h2 {
    margin: -18px 0 0 23px; }
  .header_logo_box .real_estate_name {
    font-size: 36px; }
  .header_logo_box .real_estate {
    font-size: 18px; }

.main_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  height: 76px;
  margin: 0;
  font-size: 0; }
  .main_nav .menu_link {
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 15px;
    position: relative; }
    .main_nav .menu_link:link {
      text-decoration: none;
      color: #2b2b2b; }
    .main_nav .menu_link:visited {
      text-decoration: none;
      color: #2b2b2b; }
  .main_nav li {
    padding: 0 10px; }
  .main_nav .menu_item:not(.active_link) .menu_link:hover:after {
    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    background: #2b2b2b;
    animation: menu_underline 0.7s; }

.submenu {
  display: none;
  width: 180px;
  flex-direction: column;
  top: 25px;
  left: 9px; }
  .submenu a {
    width: auto;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 15px;
    position: relative; }
    .submenu a:link {
      text-decoration: none;
      color: #2b2b2b; }
    .submenu a:visited {
      text-decoration: none;
      color: #2b2b2b; }
  .submenu .dropdown-menu_item {
    flex-grow: 1;
    padding: 5px 3px; }
    .submenu .dropdown-menu_item:hover {
      background: rgba(255, 255, 255, 0.4); }

.fa-angle-down, .fa-angle-up {
  font-size: 20px;
  color: #000;
  padding: 0 0 0 5px; }

.fa-angle-up {
  display: none; }

.dropdown_element:hover .submenu {
  display: flex; }

.sticky {
  position: fixed;
  background: #fff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 1s; }

.sticky_header_logo_box {
  position: absolute;
  padding: 0;
  top: 0;
  z-index: 999;
  width: 210px;
  height: 76px;
  background: #d84949; }
  .sticky_header_logo_box img {
    transform: scale(0.7);
    margin: 1px 0 0 5px; }
  .sticky_header_logo_box h1 {
    font-size: 25px;
    margin: -6px 0 0 7px; }
    .sticky_header_logo_box h1 a {
      color: #fff; }
      .sticky_header_logo_box h1 a:link {
        text-decoration: none;
        color: #fff; }
      .sticky_header_logo_box h1 a:visited {
        text-decoration: none;
        color: #fff; }
  .sticky_header_logo_box h2 {
    font-size: 16px;
    margin: -2px 0px 1px 6px; }
    .sticky_header_logo_box h2 a {
      color: #fff; }
      .sticky_header_logo_box h2 a:link {
        text-decoration: none;
        color: #fff; }
      .sticky_header_logo_box h2 a:visited {
        text-decoration: none;
        color: #fff; }

.menu_btn {
  display: none;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.arrows_box {
  right: 12px;
  top: 0;
  width: 90px; }
  .arrows_box .prev {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #333333;
    background-color: #eeeeee;
    vertical-align: top;
    right: 0;
    transition: 0.8s; }
    .arrows_box .prev:hover {
      border: 2px solid #aaaaaa; }
  .arrows_box .next {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #222222;
    background-color: #eeeeee;
    vertical-align: top;
    left: 0;
    transition: 0.8s; }
    .arrows_box .next:hover {
      border: 2px solid #aaaaaa; }

.slick-active {
  outline: none !important; }

.slide_wrapper {
  height: 200px;
  margin: 0 5px; }

.prev i {
  transition: 0.8s;
  padding: 2px 0 0 12px;
  font-size: 30px; }

.prev:hover i {
  color: #aaaaaa; }

.next i {
  transition: 0.8s;
  padding: 2px 0 0 12px;
  font-size: 30px; }

.next:hover i {
  color: #aaaaaa; }

.main_section {
  padding: 50px 0; }

.main_title {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333; }

.short_description_wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto; }
  .short_description_wrapper h2 {
    color: #fff;
    font-size: 40px; }

.short_description_box {
  width: 90%; }

.main_index_img {
  height: 80vh;
  padding: 25px 10%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: url("../img/dnipro.jpg") center center; }

.btn_opearation {
  justify-content: space-between;
  width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .btn_opearation a, .btn_opearation button {
    color: #111111;
    padding: 20px 50px;
    font-weight: 700;
    background: #d84949;
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.8s;
    outline: 0; }
    .btn_opearation a:hover, .btn_opearation button:hover {
      color: #fff; }

.quick_search_wrapper {
  justify-content: space-around; }
  .quick_search_wrapper .quick_search_select {
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 0; }
    .quick_search_wrapper .quick_search_select:focus {
      border-color: #dddddd;
      box-shadow: 0 0 0 0.1rem rgba(221, 221, 221, 0.6); }
  .quick_search_wrapper .quick_search_btn {
    box-sizing: border-box;
    background: #d84949 !important;
    border-color: #d84949; }
    .quick_search_wrapper .quick_search_btn:active {
      box-shadow: 0 0 0 0.2rem rgba(216, 73, 73, 0.8) !important;
      border-color: #d84949 !important; }
    .quick_search_wrapper .quick_search_btn:focus {
      box-shadow: 0 0 0 0.2rem rgba(216, 73, 73, 0.8) !important;
      border-color: #d84949 !important; }

.input-group-text {
  color: #fff;
  border-radius: 0;
  background-color: #d84949; }

.advantage_wrapper {
  background-color: #333333; }
  .advantage_wrapper .advantage_title {
    color: #ffffff;
    position: relative; }
    .advantage_wrapper .advantage_title:after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 100px;
      width: 100px;
      height: 1px;
      background-color: #444444; }
  .advantage_wrapper i {
    color: #d84949;
    font-size: 65px;
    margin-bottom: 40px; }
  .advantage_wrapper h4 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .advantage_wrapper p {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400; }

.slide_description {
  max-width: 50%;
  flex-grow: 1;
  padding: 20px 10px 20px 10px;
  background: #fff; }
  .slide_description a {
    transition: 0.8s;
    font-size: 18px;
    font-weight: 400;
    color: #333333; }
    .slide_description a:link {
      text-decoration: none;
      color: #333333; }
    .slide_description a:visited {
      text-decoration: none;
      color: #333333; }
    .slide_description a:hover {
      color: #d84949; }
      .slide_description a:hover:link {
        text-decoration: none;
        color: #d84949; }
      .slide_description a:hover:visited {
        text-decoration: none;
        color: #d84949; }
  .slide_description p {
    color: #aaaaaa; }

.property_id {
  right: 5px;
  bottom: 5px;
  color: #aaaaaa; }

.slide_img_box {
  max-width: 50%;
  flex-grow: 1;
  background-color: #d7d7d7;
  overflow: hidden; }
  .slide_img_box .slide_img {
    position: absolute;
    height: auto;
    width: 140%;
    left: -20%; }
  .slide_img_box .operation_type {
    top: 25px;
    left: 0;
    background: #d84949;
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    z-index: 100; }

.news_box, .our_advantage_box {
  flex-grow: 1;
  flex-basis: 450px; }

.list_box:first-child .list_advantage {
  display: none; }

.news_box {
  margin-right: 15px; }
  .news_box .news_img {
    background: #898989;
    min-height: 50px; }
  .news_box .news_date {
    top: 0;
    left: 0;
    color: #fff;
    padding: 10px 10px;
    background-color: #d84949; }
    .news_box .news_date:link {
      text-decoration: none;
      color: #fff; }
    .news_box .news_date:visited {
      text-decoration: none;
      color: #fff; }
  .news_box .news_short_description {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400; }
  .news_box .news_btn {
    border: 2px solid #333333;
    background-color: #ffffff; }

.news_btn {
  color: #333333;
  padding: 10px 15px;
  flex-direction: row; }
  .news_btn:link {
    text-decoration: none;
    color: #333333; }
  .news_btn:visited {
    text-decoration: none;
    color: #333333; }

.list_box {
  border: 1px solid #333333;
  padding: 20px;
  margin-bottom: 15px; }
  .list_box .list_title {
    font-size: 18px;
    font-weight: 700;
    color: #333333; }
  .list_box .list_advantage {
    list-style-type: square;
    font-size: 16px;
    font-weight: 400;
    color: #aaaaaa; }

.list_switcher {
  cursor: pointer;
  top: 5px;
  right: 5px; }

.modal-open {
  overflow: auto !important; }

footer {
  background-color: #111111; }
  footer .footer_title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  footer ul {
    margin-bottom: 5px; }
    footer ul i {
      color: #d84949;
      top: 2px;
      left: -20px; }
    footer ul li {
      padding: 0 0 0 20px;
      font-size: 16px;
      color: #aaaaaa; }
    footer ul a {
      color: #aaaaaa; }
      footer ul a:link {
        text-decoration: none;
        color: #aaaaaa; }
      footer ul a:visited {
        text-decoration: none;
        color: #aaaaaa; }
  footer .secondary_menu li {
    margin: 0;
    padding: 0; }
    footer .secondary_menu li:hover {
      text-decoration: underline; }
  footer .footer_btn_search {
    background: #d84949;
    padding: 7px 15px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer; }
  footer .footer_line {
    height: 2px;
    background: #333333; }
  footer .copyright {
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa; }
    footer .copyright a {
      color: #d84949; }
      footer .copyright a:link {
        text-decoration: none;
        color: #d84949; }
      footer .copyright a:visited {
        text-decoration: none;
        color: #d84949; }
  footer .footer_search_box input {
    border-radius: 0; }

.new_ad_sent {
  box-sizing: border-box;
  background: #d84949 !important;
  border-color: #d84949; }
  .new_ad_sent:active {
    box-shadow: 0 0 0 0.2rem rgba(216, 73, 73, 0.8) !important;
    border-color: #d84949 !important; }
  .new_ad_sent:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 73, 73, 0.8) !important;
    border-color: #d84949 !important; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  padding: 0 !important; }

header {
  margin: 0 !important;
  padding: 0 !important; }

.row.no_mg {
  margin: 0; }

[class^="col-"].no_pd {
  padding-right: 0;
  padding-left: 0; }

.container-fluid.no_pd {
  padding-right: 0;
  padding-left: 0; }

.container.no_pd {
  padding-right: 0;
  padding-left: 0; }

.text_bold {
  font-weight: 700; }

.display_flex {
  display: flex !important; }

@media screen and (max-width: 992px) {
  .header_logo_box .real_estate_name {
    font-size: 30px; }
  .header_logo_box h1 {
    color: #fff;
    margin: -10px 0 0 8px; }
  .header_logo_box h2 {
    margin: -17px 0 0 9px; }
  .main_nav li {
    padding: 0 6px; }
  .header_logo_box .real_estate {
    font-size: 15px; }
  .main_index_img div:first-child {
    width: 90% !important; }
  .btn_opearation {
    flex-direction: column; }
    .btn_opearation a {
      margin-bottom: 15px; }
  .short_description_wrapper {
    height: 90% !important; }
  .short_description_wrapper h2 {
    font-size: 35px; }
  .btn_opearation a, .btn_opearation button {
    padding: 15px 40px; }
  footer .footer_btn_search {
    padding: 7px 5px; } }

@media screen and (max-width: 767px) {
  .header_logo_box {
    left: 0;
    height: 101px; }
  .header_logo_box img {
    margin: 9px 0 0 20px; }
  .short_description_wrapper h2 {
    font-size: 22px; }
  .btn_opearation a, .btn_opearation button {
    font-size: 20px;
    padding: 10px 25px; }
  .menu_box {
    max-width: 100%; }
  .main_nav {
    display: none;
    flex-flow: column;
    justify-content: space-around;
    position: absolute;
    top: 57px;
    height: 80vh;
    background: #000;
    width: 100%; }
    .main_nav .menu_link {
      color: #fff; }
      .main_nav .menu_link:link {
        text-decoration: none;
        color: #fff; }
      .main_nav .menu_link:visited {
        text-decoration: none;
        color: #fff; }
  .menu_btn {
    display: inline-block;
    margin: 7px 14px 11px 0; }
  .sticky_header_logo_box img {
    transform: scale(0.6);
    margin: -2px 0 0 5px; }
  .sticky_header_logo_box h1 {
    font-size: 20px;
    margin: -9px 0 0 7px; }
  .sticky_header_logo_box {
    height: 57px; }
  .sticky_header_logo_box h2 {
    font-size: 15px;
    margin: -5px 0px 1px 6px; }
  .top_menu_wrapper .container {
    max-width: 100%;
    margin: 0; }
  .main_title {
    font-size: 27px; }
  .arrows_box {
    right: 0;
    top: -7px; }
  .extra_index_wrapper {
    flex-direction: column; }
  .our_advantage_box {
    order: -1; }
  .footer_search_box .input-group {
    width: 100%; }
  footer ul li {
    padding: 0; }
  .advantage_wrapper .advantage_title:after {
    left: 62px; } }

@media screen and (max-width: 575px) {
  .main_index_img div:first-child {
    width: 95% !important; }
  .short_description_wrapper h2 font-siz
.main_section {
    padding: 30px 0; }
  .main_title {
    padding: 0 0 0 15px;
    font-size: 21px; }
  .header_logo_box {
    width: 215px; }
  .news_box {
    margin-right: 0; }
  .btn_opearation a, .btn_opearation button {
    padding: 20px 40px;
    font-size: 20px; }
  .slider_wrapper {
    padding: 0 10px; }
  .extra_index_wrapper {
    padding: 0 10px; }
  .footer_wrapper {
    margin: 10px 30px !important; }
  footer .copyright {
    width: 100%; }
  .copyright_wrapper {
    text-align: center; }
  .slider_box {
    margin-top: 60px; }
  .arrows_box {
    right: 40%;
    top: 38px; }
  .main_section {
    padding: 25px 0; }
  .advantage_wrapper .advantage_title:after {
    left: 74px; }
  .news_box, .our_advantage_box {
    flex-grow: 1;
    flex-basis: auto; } }

@media screen and (max-width: 420px) {
  .header_logo_box {
    width: 196px; }
  .slide_wrapper {
    height: auto;
    flex-direction: column; }
    .slide_wrapper div {
      max-width: 100%; }
    .slide_wrapper .slide_img_box {
      height: 250px; }
  .btn_opearation a, .btn_opearation button {
    padding: 10px 15px;
    font-size: 18px; }
  .social_wrapper {
    padding: 0; }
  .arrows_box {
    right: 35%; }
  .advantage_wrapper h4 {
    font-size: 18px;
    margin-bottom: 12px; }
  .advantage_title {
    margin-bottom: 25px !important; } }
